.table {
  margin-left: 20px;
  height: 40vh;
  width: 37vw;
  overflow: scroll;
}

.table__header {
  display: flex;
  width: 35vw;
}

.table__header > h3 {
  margin-left: 30px;
}

.table__details {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.table__details > span {
  width: 100px;
  min-width: 100px;
}
.table__details > p {
  margin-left: 40px;
  min-width: 60px;
  width: 60px;
}

@media all and (max-width: 900px) {
  .table {
    width: 90vw;
  }
}
